<!-- Table CRUD -->
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Table CRUD</h1>
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Name</th>
                                    <th>Age</th>
                                    <th>Address</th>
                                    <th>Options</th>
                                </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>1</td>
                                <td>John</td>
                                <td>25</td>
                                <td>USA</td>
                                <td>
                                    <a href="update.php?id=1" class="btn btn-warning">Update</a>
                                    <a href="delete.php?id=1" class="btn btn-danger">Delete</a>
                                </td>
                            </tbody>
                        </table>
                    </div>
                    <a href="insert.php" class="btn btn-primary">Insert</a>
                </div>
            </div>
        </div>
        <!-- Table CRUD -->
    </body>