  {# templates/upload/index.html.twig #}
  {% extends 'base.html.twig' %}

  {% block body %}
    <h1>List of files uploaded</h1>

    {# files loop #}
    {% for file in files %}
        {# files table #}
        <table class="table table-striped">
            <thead>
                <tr>
                  <th scope="col">Files</th>
                  <th scope="col">Actions</th>
                </tr>

                {# CRUD actions #}
                <tr>
                      {# files uploaded #}
                      <td>
                        <a href= "assets/uploads/{{ file }}">{{ file }}</a>
                      </td>
                      
                      {# row actions #}
                      <td>
                        <a href="{{ path('app_files_new', {'file': file}) }}" class="btn btn-primary">add</a>
                        <br>
                        <a href="{{ path('app_files_delete', {'file': file}) }}" class="btn btn-danger">delete</a>
                      </td>
          
                        
                </tr>
            </thead>
        </table>

    {% endfor %}
  {% endblock %}
    