{# templates/files/new.html.twig #} 

<h1>Adding a new files</h1> 
{{ form_start(form) }} 
    {# ... #}
    {{ form_row(form.brochure) }} 
    <button type="submit">Create</button> 

{{ form_end(form) }} 